{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Hello, world!</title>
</head>

<body>

  {% block content %}

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/img1.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img3.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- =============== -->
  <div style="height: 60px; width: 60px; background-color: white; position: relative; top: -40px; left: 46%;border-radius: 50%/60px 60px 0 0;border-color:#000 transparent transparent transparent;"></div>
<!-- ================== -->
<div style="position: relative; left: 50%;"><div style="border-left: 1px solid black; display: flex; flex-direction: row; height: 50px;"></div>

</div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12">
        <center>
          
          <h1>SAJ DHAJ KE</h1>
          <p class="text-break" style="font-size: 15px;text-align:center;">Once in a while, Right in the middle of our
            ordinary life, The occasion of the wedding comes into our life as a fairytale, To give you that elegant look
            and get you going Saj Dhaj ke, Kalamandir Jewellers presents you with an exquisite range of Wedding
            jewellery, A collection of regal Jewellery handcrafted to perfection to enhance your charm on your big day.
          </p>

        </center>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xxl-8 col-xl-8 col-md-8 col-sm-8">
        <img src="{% static 'images/img4.jpg' %}" alt="" height="auto" width="100%">
      </div>
      <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-4">
        <img src="{% static 'images/img5.jpg' %}" alt="" height="auto" width="100%">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12">
        <img src="{% static 'images/img6.jpg' %}" alt="" height="auto" width="100%" style="margin-top: 20px;">
      </div>
    </div>
  </div>

   <!-- =============== -->
   <div style="height: 60px; width: 70px; background-color: white; position: relative; top: -60px; left: 46%;border-radius: 100%/100px 100px 10px -10px"></div>
   <!-- ================== -->

  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12">
        <center>
          <h1>Brand Family </h1>
        </center>
      </div>

    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{% static 'images/img7.jpg' %}" alt="" height="auto" width="100%">
      </div>
      <div class="col">
        <img src="{% static 'images/img8.jpg' %}" alt="" height="auto" width="100%">
      </div>
      <div class="col">
        <img src="{% static 'images/img9.jpeg' %}" alt="" height="auto" width="100%">
      </div>
      <div class="col">
        <img src="{% static 'images/img10.png' %}" alt="" height="auto" width="100%">
      </div>
      <div class="col">
        <img src="{% static 'images/img7.jpg' %}" alt="" height="auto" width="100%">
      </div>
      <div class="col">
        <img src="{% static 'images/img8.jpg' %}" alt="" height="auto" width="100%">
      </div>
    </div>
  </div>


  <div class="container" style="margin-top: 40px;">
    <div class="row">

      <div class="col-xxl-8 col-xl-8 col-md-8 col-sm-8">
        <div style="background-color: rgb(219, 239, 243);">

          <div style="margin-left:70px;margin-top: 10px;">
            <p>|<br>|<br>|
            </p>
          </div>
          <div style="margin-left: 40px;padding-bottom:20px;margin-right: 40px;">
            <h4>ABOUT US</h4>
            <p>A legacy of more than 38 years, The Sparkling journey of Kalamandir Jewellers started in 1986 in the
              small
              town of Kosamba near Surat, Gujarat. A team of 5 members with solid willpower, knowledge, and vision
              started
              the journey to becoming India's leading jewelry retail brand with a small store of around 200 Sq. ft.
              Kalamandir Jewellers leaped the growth by building years of Trust, Reliability, and Quality among the
              minds
              of customers; Currently, the Brand has more than 1200+ dedicated staff to serve the customers. The company
              has introduced some of the most prominent National jewelry brands like Rishtadiamonds, Kingly,
              Indo-Italia,
              Purusham, Platinum & Sajdhajke with this and the constant love of customers, Kalamandir jewellers is today
              GUJARAT'S leading Retail Jewellery Brand</p>
            <p>Read me more</p>
          </div>

        </div>
      </div>

      <div class="col-xxl-4 col-xl-4 col-md-4 col-lg-4 col-sm-4">
        <img src="{% static 'images/img10.jpg' %}" alt="" height="auto" width="245px">
      </div>
    </div>
  </div>

   <!-- =============== -->
   <div style="height: 60px; width: 70px; background-color: white; position: relative; top: -60px; left: 46%;border-radius: 100%/100px 100px 10px -10px"></div>
   <!-- ================== -->
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12">
        <center>
          <h1>OUR <br> COLLECTIONS</h1>
        </center>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12">
            <img src="{% static 'images/img11.jpeg' %}" alt="" height="auto" width="100%" style="margin-top: 20px;">
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <div class="container" style="margin-top: 20px;">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-6">
        <img src="{% static 'images/img12.jpg' %}" alt="" height="auto" width="100%">
      </div>
      <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-7">
        <img src="{% static 'images/img13.jpg' %}" alt="" height="auto" width="100%">
      </div>
    </div>
  </div>

 


  
  <!-- ============================================================================================================================= -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


  {% endblock %}
</body>

</html>